<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkrs.system.mapper.FinancingDateMapper">
    
    <resultMap type="FinancingDate" id="FinancingDateResult">
        <result property="id"    column="id"    />
        <result property="financingId"    column="financing_id"    />
        <result property="times"    column="times"    />
        <result property="january"    column="january"    />
        <result property="totalLoans"    column="total_loans"    />
        <result property="totalWithdrawal"    column="total_withdrawal"    />
        <result property="totalRepayment"    column="total_repayment"    />
        <result property="paragraphType"    column="paragraph_type"    />
        <result property="isYjSj"    column="is_yj_sj"    />
    </resultMap>

    <resultMap type="ExportExpectedFinancing" id="ExportFinancingDateResult">
        <result property="xmqkXmmc"    column="xmqk_xmmc"    />
        <result property="times"    column="times"    />
        <result property="january"    column="january"    />
        <result property="financingRq"    column="financing_rq"    />
        <result property="financingCb"    column="financing_cb"    />
        <result property="financingLx"    column="financing_lx"    />
        <result property="financingSxf"    column="financing_sxf"    />
    </resultMap>

    <resultMap type="ExportExpectedTrueFinancing" id="ExportFinancingTrueDateResult">
        <result property="xmqkXmmc"    column="xmqk_xmmc"    />
        <result property="times"    column="times"    />
        <result property="january"    column="january"    />
        <result property="financingRq"    column="financing_rq"    />
        <result property="financingCb"    column="financing_cb"    />
        <result property="financingLx"    column="financing_lx"    />
        <result property="financingSxf"    column="financing_sxf"    />
    </resultMap>

    <sql id="selectFinancingDateVo">
        select id, financing_id, times, january,  total_loans, total_withdrawal, total_repayment, paragraph_type ,is_yj_sj from financing_date
    </sql>

    <select id="selectFinancingDateList" parameterType="FinancingDate" resultMap="FinancingDateResult">
        <include refid="selectFinancingDateVo"/>
        <where>
            <if test="financingId != null "> and financing_id = #{financingId}</if>
            <if test="times != null  and times != ''"> and times = #{times}</if>
            <if test="january != null "> and january = #{january}</if>
            <if test="totalLoans != null "> and total_loans = #{totalLoans}</if>
            <if test="totalWithdrawal != null "> and total_withdrawal = #{totalWithdrawal}</if>
            <if test="totalRepayment != null "> and total_repayment = #{totalRepayment}</if>
            <if test="paragraphType != null  and paragraphType != ''"> and paragraph_type = #{paragraphType}</if>
            <if test="isYjSj != null  and isYjSj != ''"> and is_yj_sj = #{isYjSj}</if>
        </where>
    </select>

    <select id="selectFinancingDateExport" parameterType="FinancingDate" resultMap="FinancingDateResult">
        select 	c.xmqk_xmmc xmqkXmmc,  a.times, a.january, a.total_loans,
        a.total_withdrawal, a.total_repayment, a.paragraph_type ,a.is_yj_sj
          from 	financing_date a
           LEFT JOIN project_financing  b ON a.financing_id = b.xmrz_id
            LEFT JOIN   project_info    c   on  b.xmrz_project_id=c.xmqk_project_id

        <where>
            <if test="financingId != null "> and a.financing_id = #{financingId}</if>
            <if test="times != null  and times != ''"> and a.times = #{times}</if>
            <if test="january != null "> and a.january = #{january}</if>
            <if test="totalLoans != null "> and a.total_loans = #{totalLoans}</if>
            <if test="totalWithdrawal != null "> and a.total_withdrawal = #{totalWithdrawal}</if>
            <if test="totalRepayment != null "> and a.total_repayment = #{totalRepayment}</if>
            <if test="paragraphType != null  and paragraphType != ''"> and a.paragraph_type = #{paragraphType}</if>
            <if test="isYjSj != null  and isYjSj != ''"> and a.is_yj_sj = #{isYjSj}</if>
        </where>
    </select>



    <select id="selectFinancingDateById" parameterType="Long" resultMap="FinancingDateResult">
        <include refid="selectFinancingDateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinancingDate" parameterType="FinancingDate" useGeneratedKeys="true" keyProperty="id">
        insert into financing_date
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="financingId != null">financing_id,</if>
            <if test="times != null">times,</if>
            <if test="january != null">january,</if>

            <if test="totalLoans != null">total_loans,</if>
            <if test="totalWithdrawal != null">total_withdrawal,</if>
            <if test="totalRepayment != null">total_repayment,</if>
            <if test="paragraphType != null">paragraph_type,</if>
            <if test="isYjSj != null">is_yj_sj,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="financingId != null">#{financingId},</if>
            <if test="times != null">#{times},</if>
            <if test="january != null">#{january},</if>

            <if test="totalLoans != null">#{totalLoans},</if>
            <if test="totalWithdrawal != null">#{totalWithdrawal},</if>
            <if test="totalRepayment != null">#{totalRepayment},</if>
            <if test="paragraphType != null">#{paragraphType},</if>
            <if test="isYjSj != null">#{isYjSj},</if>
         </trim>
    </insert>



    <insert id="insertFinancingDateList"   keyProperty="id">
        replace  into financing_date(
        id,
        financing_id,
        times,
        january,
        total_loans,
        total_withdrawal,
        total_repayment,
        paragraph_type,
        is_yj_sj)
        values
        <foreach collection="financingDateList" item="listItme" separator=",">
            (
            #{listItme.id},
            #{listItme.financingId},
            #{listItme.times},
            #{listItme.january},
            #{listItme.totalLoans},
            #{listItme.totalWithdrawal},
            #{listItme.totalRepayment},
            #{listItme.paragraphType},
            #{listItme.isYjSj}
            )
        </foreach>

    </insert>

    <update id="updateFinancingDate" parameterType="FinancingDate">
        update financing_date
        <trim prefix="SET" suffixOverrides=",">
            <if test="financingId != null">financing_id = #{financingId},</if>
            <if test="times != null">times = #{times},</if>
            <if test="january != null">january = #{january},</if>
            <if test="february != null">february = #{february},</if>
            <if test="totalLoans != null">total_loans = #{totalLoans},</if>
            <if test="totalWithdrawal != null">total_withdrawal = #{totalWithdrawal},</if>
            <if test="totalRepayment != null">total_repayment = #{totalRepayment},</if>
            <if test="paragraphType != null">paragraph_type = #{paragraphType},</if>
            <if test="isYjSj != null">is_yj_sj = #{isYjSj},</if>


        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinancingDateById" parameterType="Long">
        delete from financing_date where id = #{id}
    </delete>

    <delete id="deleteFinancingDateByIds" parameterType="String">
        delete from financing_date where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <update id="updateBatch"  parameterType="java.util.List">
        <foreach collection="listData" item="item" index="index" open="" close="" separator=";">
            update financing_date
            <set>
                january=#{item.january}
            </set>
            where DATE_FORMAT(times,'%Y-%m') = "${item.quDate}" and   financing_id =${item.financingId}
        </foreach>
    </update>

<!--    <update id="insertUpdateBatch"  parameterType="java.util.List">-->
<!--        <foreach collection="listData" item="item" index="index" open="" close="" separator=";">-->
<!--            update financing_date-->
<!--            <set>-->
<!--                january=#{item.january}-->
<!--            </set>-->
<!--            where DATE_FORMAT(times,'%Y-%m') = "${item.quDate}" and   financing_id =${item.financingId}-->
<!--        </foreach>-->
<!--    </update>-->

    <insert id="insertUpdateBatch"   keyProperty="id">

        <foreach collection="listData" item="listItme" separator=";">
            insert into  financing_date(
            id,
            financing_id,
            times,
            january,
            total_loans,
            total_withdrawal,
            total_repayment,
            paragraph_type,
            is_yj_sj)
            values
            (
            #{listItme.id},
            #{listItme.financingId},
            #{listItme.times},
            #{listItme.january},
            #{listItme.totalLoans},
            #{listItme.totalWithdrawal},
            #{listItme.totalRepayment},
            #{listItme.paragraphType},
            #{listItme.isYjSj}
            )
            on duplicate key update  january = #{listItme.january}
        </foreach>
    </insert>


    <insert id="insertUpdateBatchSql"  >
         ${insertSql}
    </insert>



    <insert id="importBox"   keyProperty="id">
        insert into financing_date(
        id,
        financing_id,
        times,
        january,
        total_loans,
        total_withdrawal,
        total_repayment,
        paragraph_type,
        is_yj_sj)
        values
        <foreach collection="listData" item="listItme" separator=",">
            (
            #{listItme.id},
            #{listItme.financingId},
            #{listItme.times},
            #{listItme.january},
            #{listItme.totalLoans},
            #{listItme.totalWithdrawal},
            #{listItme.totalRepayment},
            #{listItme.paragraphType},
            #{listItme.isYjSj}
            )
        </foreach>
    </insert>



    <delete id="deleteFinancingDateByIdJl" parameterType="Long">
        delete from financing_date where financing_id = #{id}
    </delete>

    <delete id="deleteFinancingDateByIdsJl" parameterType="String">
        delete from financing_date where financing_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <delete id="deleteFinancingDateByIdJlHk" parameterType="Long">
        delete from financing_still where financing_id = #{id}
    </delete>

    <delete id="deleteFinancingDateByIdsJlHK" parameterType="String">
        delete from financing_still where financing_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="importBoxFinancingInfo" parameterType="ExpectedFinancing" useGeneratedKeys="true" keyProperty="id">
        insert into financing_date(
        <trim prefix="" suffixOverrides=",">
            <if test="financingId != null">financing_id,</if>
            <if test="times != null">times,</if>
            <if test="january != null">january,</if>
            <if test="isYjSj != null">is_yj_sj,</if>
            <if test="paragraphType != null">paragraph_type,</if>
        </trim>
        )values(
        <trim prefix="" suffixOverrides=",">
            <if test="financingId != null">#{financingId},</if>
            <if test="times != null">#{times},</if>
            <if test="january != null">#{january},</if>
            <if test="isYjSj != null">#{isYjSj},</if>
            <if test="paragraphType != null">#{paragraphType},</if>
        </trim>
        )
    </insert>

    <insert id="importBoxTrueFinancingInfo" parameterType="ExpectedFinancing" useGeneratedKeys="true" keyProperty="id">
        insert into financing_date(
        <trim prefix="" suffixOverrides=",">
            <if test="financingId != null">financing_id,</if>
            <if test="times != null">times,</if>
            <if test="january != null">january,</if>
            <if test="isYjSj != null">is_yj_sj,</if>
            <if test="paragraphType != null">paragraph_type,</if>
        </trim>
        )values(
        <trim prefix="" suffixOverrides=",">
            <if test="financingId != null">#{financingId},</if>
            <if test="times != null">#{times},</if>
            <if test="january != null">#{january},</if>
            <if test="isYjSj != null">#{isYjSj},</if>
            <if test="paragraphType != null">#{paragraphType},</if>
        </trim>
        )
    </insert>


    <select id="selectProjectInfoList" parameterType="ProjectInfo" resultMap="ExportFinancingDateResult">
        select  a.xmqk_xmmc ,c.*,d.* from project_info a
        LEFT JOIN project_financing b on a.xmqk_project_id = b.xmrz_project_id
        LEFT JOIN financing_date c on b.xmrz_id = c.financing_id
        LEFT JOIN financing_still d on b.xmrz_id = d.financing_id
        <where>
            <if test="projectInfo.xmqkProjectId != null  and projectInfo.xmqkProjectId != ''"> and a.xmqk_project_id = #{projectInfo.xmqkProjectId}</if>
            <if test="projectInfo.xmqkXmmc != null  and projectInfo.xmqkXmmc != ''"> and a.xmqk_xmmc = #{projectInfo.xmqkXmmc}</if>
            <if test="projectInfo.xmqkRl != null  and projectInfo.xmqkRl != ''"> and a.xmqk_rl = #{projectInfo.xmqkRl}</if>
            <if test="projectInfo.xmqkXmlx != null "> and a.xmqk_xmlx = #{projectInfo.xmqkXmlx}</if>
            <if test="projectInfo.xmqkXmxz != null "> and a.xmqk_xmxz = #{projectInfo.xmqkXmxz}</if>
            <if test="projectInfo.xmqkLyfgs != null "> and a.xmqk_lyfgs = #{projectInfo.xmqkLyfgs}</if>
            <if test="projectInfo.xmqkJszt != null "> and a.xmqk_jszt = #{projectInfo.xmqkJszt}</if>
            <if test="projectInfo.xmqkQy != null "> and a.xmqk_qy = #{projectInfo.xmqkQy}</if>
            <if test="projectInfo.xmqkHtsj != null "> and a.xmqk_htsj = #{projectInfo.xmqkHtsj}</if>
            <if test="projectInfo.xmqkBwsj != null "> and a.xmqk_bwsj = #{projectInfo.xmqkBwsj}</if>
            <if test="projectInfo.xmqkRzf != null  and projectInfo.xmqkRzf != ''"> and a.xmqk_rzf = #{projectInfo.xmqkRzf}</if>
            <if test="projectInfo.xmqkSgf != null  and projectInfo.xmqkSgf != ''"> and a.xmqk_sgf = #{projectInfo.xmqkSgf}</if>
            <if test="projectInfo.xmqkHzf != null  and projectInfo.xmqkHzf != ''"> and a.xmqk_hzf = #{projectInfo.xmqkHzf}</if>
            <if test="projectInfo.xmqkRzjl != null  and projectInfo.xmqkRzjl != ''"> and a.xmqk_rzjl = #{projectInfo.xmqkRzjl}</if>
            <if test="projectInfo.xmqkSwjl != null  and projectInfo.xmqkSwjl != ''"> and a.xmqk_swjl = #{projectInfo.xmqkSwjl}</if>
            <if test="projectInfo.xmqkXmdqz != null  and projectInfo.xmqkXmdqz != ''"> and a.xmqk_xmdqz = #{projectInfo.xmqkXmdqz}</if>
            <if test="projectInfo.xmqkSyzkw != null  and projectInfo.xmqkSyzkw != ''"> and a.xmqk_syzkw = #{projectInfo.xmqkSyzkw}</if>
            <if test="projectInfo.xmqkJckw != null  and projectInfo.xmqkJckw != ''"> and a.xmqk_jckw = #{projectInfo.xmqkJckw}</if>
            <if test="projectInfo.xmqkJsqk != null  and projectInfo.xmqkJsqk != ''"> and a.xmqk_jsqk = #{projectInfo.xmqkJsqk}</if>
            <if test="projectInfo.xmqkSbdh != null  and projectInfo.xmqkSbdh != ''"> and a.xmqk_sbdh = #{projectInfo.xmqkSbdh}</if>
            <if test="projectInfo.xmqkTzyjcsdj != null "> and a.xmqk_tzyjcsdj = #{projectInfo.xmqkTzyjcsdj}</if>
            <if test="projectInfo.xmqkYjcszj != null "> and a.xmqk_yjcszj = #{projectInfo.xmqkYjcszj}</if>
            <if test="projectInfo.xmqkEpcJsj != null "> and a.xmqk_epc_jsj = #{projectInfo.xmqkEpcJsj}</if>
            <if test="projectInfo.xmqkEpcZjjsj != null "> and a.xmqk_epc_zjjsj = #{projectInfo.xmqkEpcZjjsj}</if>
            <if test="projectInfo.xmqkYjsyhj != null "> and a.xmqk_yjsyhj = #{projectInfo.xmqkYjsyhj}</if>
            <if test="projectInfo.xmqkXmgscb != null "> and a.xmqk_xmgscb = #{projectInfo.xmqkXmgscb}</if>
            <if test="projectInfo.xmqkXmepccb != null "> and a.xmqk_xmepccb = #{projectInfo.xmqkXmepccb}</if>
            <if test="projectInfo.xmqkQzzyf != null "> and a.xmqk_qzzyf = #{projectInfo.xmqkQzzyf}</if>
            <if test="projectInfo.xmqkZcb != null "> and a.xmqk_zcb = #{projectInfo.xmqkZcb}</if>
            <if test="projectInfo.xmqkSjYsysgk != null "> and a.xmqk_sj_ysysgk = #{projectInfo.xmqkSjYsysgk}</if>
            <if test="projectInfo.xmqkYsrzk != null "> and a.xmqk_ysrzk = #{projectInfo.xmqkYsrzk}</if>
            <if test="projectInfo.xmqkGzk != null "> and a.xmqk_gzk = #{projectInfo.xmqkGzk}</if>
            <if test="projectInfo.xmqkYsdf != null "> and a.xmqk_ysdf = #{projectInfo.xmqkYsdf}</if>
            <if test="projectInfo.xmqkSjsrhj != null "> and a.xmqk_sjsrhj = #{projectInfo.xmqkSjsrhj}</if>
            <if test="projectInfo.xmqkYsye != null "> and a.xmqk_ysye = #{projectInfo.xmqkYsye}</if>
            <if test="projectInfo.xmqkYfsbk != null "> and a.xmqk_yfsbk = #{projectInfo.xmqkYfsbk}</if>
            <if test="projectInfo.xmqkYfjak != null "> and a.xmqk_yfjak = #{projectInfo.xmqkYfjak}</if>
            <if test="projectInfo.xmqkYfqtkx != null "> and a.xmqk_yfqtkx = #{projectInfo.xmqkYfqtkx}</if>
            <if test="projectInfo.xmqkYfzje != null "> and a.xmqk_yfzje = #{projectInfo.xmqkYfzje}</if>
            <if test="projectInfo.xmqkYssjye != null "> and a.xmqk_yssjye = #{projectInfo.xmqkYssjye}</if>
            <if test="projectInfo.xmqkSjyfwfkx != null "> and a.xmqk_sjyfwfkx = #{projectInfo.xmqkSjyfwfkx}</if>
            <if test="projectInfo.xmqkHtzfye != null "> and a.xmqk_htzfye = #{projectInfo.xmqkHtzfye}</if>
            <if test="projectInfo.xmqkYflybzj != null "> and a.xmqk_yflybzj = #{projectInfo.xmqkYflybzj}</if>
            <if test="projectInfo.xmqkYtlybzj != null "> and a.xmqk_ytlybzj = #{projectInfo.xmqkYtlybzj}</if>
            <if test="projectInfo.xmqkRemark != null  and projectInfo.xmqkRemark != ''"> and a.xmqk_remark = #{projectInfo.xmqkRemark}</if>
            <if test="projectInfo.isDelete != null  and projectInfo.isDelete != ''"> and a.is_delete = #{projectInfo.isDelete}</if>
        </where>
    </select>

    <select id="selectProjectInfoListTrue" parameterType="ProjectInfo" resultMap="ExportFinancingTrueDateResult">
        select  a.xmqk_xmmc ,c.*,d.* from project_info a
        LEFT JOIN project_financing b on a.xmqk_project_id = b.xmrz_project_id
        LEFT JOIN financing_date c on b.xmrz_id = c.financing_id and c.is_yj_sj = 1
        LEFT JOIN financing_still d on b.xmrz_id = d.financing_id and d.is_yj_sj = 1
        <where>
            <if test="projectInfo.xmqkProjectId != null  and projectInfo.xmqkProjectId != ''"> and a.xmqk_project_id = #{projectInfo.xmqkProjectId}</if>
            <if test="projectInfo.xmqkXmmc != null  and projectInfo.xmqkXmmc != ''"> and a.xmqk_xmmc = #{projectInfo.xmqkXmmc}</if>
            <if test="projectInfo.xmqkRl != null  and projectInfo.xmqkRl != ''"> and a.xmqk_rl = #{projectInfo.xmqkRl}</if>
            <if test="projectInfo.xmqkXmlx != null "> and a.xmqk_xmlx = #{projectInfo.xmqkXmlx}</if>
            <if test="projectInfo.xmqkXmxz != null "> and a.xmqk_xmxz = #{projectInfo.xmqkXmxz}</if>
            <if test="projectInfo.xmqkLyfgs != null "> and a.xmqk_lyfgs = #{projectInfo.xmqkLyfgs}</if>
            <if test="projectInfo.xmqkJszt != null "> and a.xmqk_jszt = #{projectInfo.xmqkJszt}</if>
            <if test="projectInfo.xmqkQy != null "> and a.xmqk_qy = #{projectInfo.xmqkQy}</if>
            <if test="projectInfo.xmqkHtsj != null "> and a.xmqk_htsj = #{projectInfo.xmqkHtsj}</if>
            <if test="projectInfo.xmqkBwsj != null "> and a.xmqk_bwsj = #{projectInfo.xmqkBwsj}</if>
            <if test="projectInfo.xmqkRzf != null  and projectInfo.xmqkRzf != ''"> and a.xmqk_rzf = #{projectInfo.xmqkRzf}</if>
            <if test="projectInfo.xmqkSgf != null  and projectInfo.xmqkSgf != ''"> and a.xmqk_sgf = #{projectInfo.xmqkSgf}</if>
            <if test="projectInfo.xmqkHzf != null  and projectInfo.xmqkHzf != ''"> and a.xmqk_hzf = #{projectInfo.xmqkHzf}</if>
            <if test="projectInfo.xmqkRzjl != null  and projectInfo.xmqkRzjl != ''"> and a.xmqk_rzjl = #{projectInfo.xmqkRzjl}</if>
            <if test="projectInfo.xmqkSwjl != null  and projectInfo.xmqkSwjl != ''"> and a.xmqk_swjl = #{projectInfo.xmqkSwjl}</if>
            <if test="projectInfo.xmqkXmdqz != null  and projectInfo.xmqkXmdqz != ''"> and a.xmqk_xmdqz = #{projectInfo.xmqkXmdqz}</if>
            <if test="projectInfo.xmqkSyzkw != null  and projectInfo.xmqkSyzkw != ''"> and a.xmqk_syzkw = #{projectInfo.xmqkSyzkw}</if>
            <if test="projectInfo.xmqkJckw != null  and projectInfo.xmqkJckw != ''"> and a.xmqk_jckw = #{projectInfo.xmqkJckw}</if>
            <if test="projectInfo.xmqkJsqk != null  and projectInfo.xmqkJsqk != ''"> and a.xmqk_jsqk = #{projectInfo.xmqkJsqk}</if>
            <if test="projectInfo.xmqkSbdh != null  and projectInfo.xmqkSbdh != ''"> and a.xmqk_sbdh = #{projectInfo.xmqkSbdh}</if>
            <if test="projectInfo.xmqkTzyjcsdj != null "> and a.xmqk_tzyjcsdj = #{projectInfo.xmqkTzyjcsdj}</if>
            <if test="projectInfo.xmqkYjcszj != null "> and a.xmqk_yjcszj = #{projectInfo.xmqkYjcszj}</if>
            <if test="projectInfo.xmqkEpcJsj != null "> and a.xmqk_epc_jsj = #{projectInfo.xmqkEpcJsj}</if>
            <if test="projectInfo.xmqkEpcZjjsj != null "> and a.xmqk_epc_zjjsj = #{projectInfo.xmqkEpcZjjsj}</if>
            <if test="projectInfo.xmqkYjsyhj != null "> and a.xmqk_yjsyhj = #{projectInfo.xmqkYjsyhj}</if>
            <if test="projectInfo.xmqkXmgscb != null "> and a.xmqk_xmgscb = #{projectInfo.xmqkXmgscb}</if>
            <if test="projectInfo.xmqkXmepccb != null "> and a.xmqk_xmepccb = #{projectInfo.xmqkXmepccb}</if>
            <if test="projectInfo.xmqkQzzyf != null "> and a.xmqk_qzzyf = #{projectInfo.xmqkQzzyf}</if>
            <if test="projectInfo.xmqkZcb != null "> and a.xmqk_zcb = #{projectInfo.xmqkZcb}</if>
            <if test="projectInfo.xmqkSjYsysgk != null "> and a.xmqk_sj_ysysgk = #{projectInfo.xmqkSjYsysgk}</if>
            <if test="projectInfo.xmqkYsrzk != null "> and a.xmqk_ysrzk = #{projectInfo.xmqkYsrzk}</if>
            <if test="projectInfo.xmqkGzk != null "> and a.xmqk_gzk = #{projectInfo.xmqkGzk}</if>
            <if test="projectInfo.xmqkYsdf != null "> and a.xmqk_ysdf = #{projectInfo.xmqkYsdf}</if>
            <if test="projectInfo.xmqkSjsrhj != null "> and a.xmqk_sjsrhj = #{projectInfo.xmqkSjsrhj}</if>
            <if test="projectInfo.xmqkYsye != null "> and a.xmqk_ysye = #{projectInfo.xmqkYsye}</if>
            <if test="projectInfo.xmqkYfsbk != null "> and a.xmqk_yfsbk = #{projectInfo.xmqkYfsbk}</if>
            <if test="projectInfo.xmqkYfjak != null "> and a.xmqk_yfjak = #{projectInfo.xmqkYfjak}</if>
            <if test="projectInfo.xmqkYfqtkx != null "> and a.xmqk_yfqtkx = #{projectInfo.xmqkYfqtkx}</if>
            <if test="projectInfo.xmqkYfzje != null "> and a.xmqk_yfzje = #{projectInfo.xmqkYfzje}</if>
            <if test="projectInfo.xmqkYssjye != null "> and a.xmqk_yssjye = #{projectInfo.xmqkYssjye}</if>
            <if test="projectInfo.xmqkSjyfwfkx != null "> and a.xmqk_sjyfwfkx = #{projectInfo.xmqkSjyfwfkx}</if>
            <if test="projectInfo.xmqkHtzfye != null "> and a.xmqk_htzfye = #{projectInfo.xmqkHtzfye}</if>
            <if test="projectInfo.xmqkYflybzj != null "> and a.xmqk_yflybzj = #{projectInfo.xmqkYflybzj}</if>
            <if test="projectInfo.xmqkYtlybzj != null "> and a.xmqk_ytlybzj = #{projectInfo.xmqkYtlybzj}</if>
            <if test="projectInfo.xmqkRemark != null  and projectInfo.xmqkRemark != ''"> and a.xmqk_remark = #{projectInfo.xmqkRemark}</if>
            <if test="projectInfo.isDelete != null  and projectInfo.isDelete != ''"> and a.is_delete = #{projectInfo.isDelete}</if>
        </where>
    </select>
</mapper>